.App {
  /* text-align: center; */
  /* display: grid;
  grid-template-columns: repeat(12 1fr);
  grid-template-rows: repeat(12 1fr); */
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid black;
}

.nav{
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

.main{
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

.footer{
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 11;
  grid-row-end: 13;
  border: 1px solid black;
  background-color: #495E57;
}

.footer > div > ul > li {
  list-style-type: none;
}

.menuItems{
  display: inline-block;
}

.menuItems > li {
  text-decoration: none;
  display: inline;
  margin: 10px;
}

.menuItems > li > a {
  text-decoration: none;
  /* color: #61dafb; */
}

.button{
  width: 310px;
  height: 56px;
  border-radius: 16px;
  border: none;
  font-size: 20px;

  /* &-yellow{
    
  } */
}

.footerItems{
  display: inline-block;
  text-align: left;
}

#navLogo{
  display: inline-block;
}